<div>
  <div *ngIf="notice" class="notice">
    {{ notice }}
  </div>
  <h2>Add a movie recommendation:</h2>
  <form (ngSubmit)="addPost()" class="post-form">
    <div>
      <label>Movie Title:</label>
      <input
        type="title"
        [(ngModel)]="postRequest.title"
        name="postTitle"
        required
      />
    </div>
    <div>
      <label>Movie Url:</label>
      <input
        type="text"
        [(ngModel)]="postRequest.postUrl"
        name="postUrl"
        required
      />
    </div>
    <div class="button-grid">
      <button class="post-button" type="submit">Submit post</button>
      <button class="post-button" routerLink="/dashboard">Back to Dashboard</button>
    </div>
  </form>
</div>
