<div>
  <div *ngIf="notice" class="notice">
    {{ notice }}
  </div>
  <form (ngSubmit)="login()" class="login-form">
    <div>
      <label>email:</label>
      <input
        type="text"
        [(ngModel)]="authenticationRequest.email"
        name="email"
        required
      />
    </div>
    <div>
      <label>password:</label>
      <input
        type="password"
        [(ngModel)]="authenticationRequest.password"
        name="password"
        required
      />
    </div>
    <div>
      <button type="submit">login</button>
    </div>
  </form>
  <form (ngSubmit)="signup()" class="signup-form">
    <div>
      <label>username:</label>
      <input
        type="text"
        [(ngModel)]="registerRequest.name"
        name="name"
        required
      />
    </div>
    <div>
      <label>email:</label>
      <input
        type="text"
        [(ngModel)]="registerRequest.email"
        name="email"
        required
      />
    </div>
    <div>
      <label>password:</label>
      <input
        type="password"
        [(ngModel)]="registerRequest.password"
        name="password"
        required
      />
    </div>
    <div>
      <button type="submit">signup</button>
    </div>
  </form>
</div>
